.image-grid {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 0.8 / 1;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease;
        filter: brightness(100%);
    }


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон для выделения текста */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
    transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    opacity: 1; /* Появление текста и кнопки при наведении */
}

.brand-info {
    text-align: center;
    color: white;
}

    .brand-info h1 {
        margin: 0;
        font-size: 2.5rem; /* Увеличенный размер текста */
    }

.large-button {
    font-size: 1.25rem; /* Увеличенный размер текста кнопки */
    padding: 0.75rem 2rem; /* Увеличенные отступы у кнопки */
}

.image-container:hover img {
    filter: brightness(50%);
}

.no-select {
    user-select: none; /* Запрещает выделение текста */
}
