@using NMShop.Shared.Models
@using NMShop.Client.Services
@inject ClientDataProvider DataProvider

<div class="d-flex flex-column" style="gap: 10px;">
    @foreach (var content in refInfo.Contents)
    {
        <MudText Style=@(content.IsBold ? "font-weight: bold;" : null) Typo=@(content.Size.ToEnum<Typo>())>@content.Text</MudText>
    }
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    private ReferenceInfo refInfo = new();
    
    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine(Code);
        refInfo = await DataProvider.GetReferenceInfoByTopic(Code);
    }

}