@using NMShop.Shared.Models
@using NMShop.Client.Services
@using NMShop.Shared.Scaffold
@inject ClientDataProvider DataProvider

<div class="d-flex flex-column" style="gap: 10px;">
    @foreach (var rc in refTopic.ReferenceContents)
    {
        <MudText Style=@(rc.IsBold ? "font-weight: bold;" : null) Typo=@(rc.TextSize.Value.ToEnum<Typo>())>@rc.Content</MudText>
    }
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    private ReferenceTopic refTopic = new();

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine(Code);
        refTopic = await DataProvider.GetReferenceInfoByTopicAsync(Code);
    }

}