div.zubilo::-webkit-scrollbar {
    width: 5px; /* Ширина ползунка */
    margin-right: 10px;
}

div.zubilo::-webkit-scrollbar-thumb {
    background-color: lightgrey; /* Цвет ползунка */
    border-radius: 3px; /* Скругление углов */
}

div.zubilo::-webkit-scrollbar-track {
    background-color: #262A39; /* Цвет фона для трека (не ползунка) */
}

div.zubilo::-webkit-scrollbar-button {
    display: none; /* Скрыть кнопку */
}

div.zubilo {
    overflow-y: scroll;
    width: calc(100% - 5px);
}

.header {
    color: black;
    font-family: Montserrat;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (21 - 18) + 18px);
    font-style: normal;
    font-weight: 500;
}

.subheader {
    color: black;
    font-family: Montserrat;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (16 - 14) + 14px);
    font-style: normal;
    font-weight: 500;
}

.regulartext {
    text-align: left;
    color: black;
    font-family: Montserrat;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (14 - 12) + 12px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 20px;
    line-height: 160%;
}

.PolicyContainer {
    width: 90%;
}

@media all and (min-width: 992px) {
    /*Для маленьких экранов*/
    .PolicyContainer {
        width: 83%;
    }
}


@media all and (min-width: 1279px) {
    /*Для средних экранов*/
    .PolicyContainer {
        width: 75%;
    }
}


@media all and (min-width: 1600px) {
    /*Для больших экранов*/
    .PolicyContainer {
        width: 64%;
    }
}

