@using NMShop.Client.Layout
@using NMShop.Client.Components
@page "/PrivacyPolicy"
@inject NavigationManager NavigationManager

<PageTitle>Политика конфиденциальности</PageTitle>

<AnchorNavigation />

<div class="PolicyContainer mx-auto d-flex mt-5" >

    <div style="border-radius: 10px; border: 1px solid #A9A9A9; background: #FFFFFF;" class="pa-5 pa-md-10">
        <div class="header mb-2">Политика конфиденциальности KickRooms</div>
        @for (int i = 0; i < Textu.Count(); i++)
        {
            <div class="subheader" id="@i">
                @Textu[i].Item1
            </div>
            <div class="regulartext pr-0">
                <MultilineString Value=@Textu[i].Item2 />
            </div>
        }
    </div>

    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
        <div style="height: 100%">
            <div class="ml-5" style="width: 230px; border-radius: 10px; border: 1px solid #A9A9A9; position: fixed; align-self: flex-start;">
                <div style="width: 100%; background: #F0F0F0; border-radius: 10px 10px 0 0; border-bottom: 1px solid #A9A9A9;" class="subheader px-3 py-2">
                    Оглавление
                </div>
                <div class="zubilo" style="max-height: 45vh; width: 100%">
                    @foreach ((int, string) pair in getButtons())
                    {
                        <MudButton OnClick="() => NavigateToHeader(pair.Item1)" Style="white-space: nowrap; background: #FFFFFF; text-transform: none; border-radius:0;" Class="p-3" FullWidth="true">
                            <div class="regulartext p-0" style="text-overflow: ellipsis; overflow: hidden; width: 100%;">
                                @pair.Item2
                            </div>
                        </MudButton>
                    }
                </div>

                <div style="width: 100%; background: #F0F0F0; border-top: 1px solid #A9A9A9; border-radius: 0 0 10px 10px;" class="subheader px-3 py-2">
                    Конец
                </div>
            </div>
        </div>
    </MudHidden>

</div>

@code{
    public static List<(string, string)> Textu = new()
    {
        (
        "1. Основные понятия",
        "1.1. В целях настоящего документа ниже приведенные термины используются в следующем значении:\n" +
        "KickRooms - Сайт, представляющий собой сервис рекламы и аналитики Telegram-каналов, расположенный в сети Интернет по адресам https://kickrooms.info\n" +
        "Пользователь - лицо, имеющее доступ к Сайту посредством сети Интернет и использующее Сайт и/или его Сервисы.\n" +
        "Оператор - Администрация сайта KickRooms.\n" +
        "Сервис - услуга или комплекс услуг предоставляемые Пользователю с использованием Сайта.\n" +
        "Автоматизированная обработка персональных данных - обработка персональных данных с помощью средств вычислительной техники."
    ),
    (
        "2. Общие положения",
        "2.1. Настоящая Политика конфиденциальности (далее — Политика) разработана в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных» и действует в отношении персональных данных в понимании применимого законодательства и определяет порядок сбора, обработки и защиты информации о физических лицах, пользующихся Сервисами KickRooms.\n" +
        "2.2. Настоящая Политика конфиденциальности разработана в соответствии с требованиями Общего регламента о защите персональных данных Европейского Союза (GDPR).\n" +
        "2.3. Целью настоящей Политики является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, от несанкционированного доступа и разглашения."
    ),
    (
        "3. Сбор, обработка и защита персональных данных",
        "3.1. Сбор и обработка персональных данных происходит в отношении Пользователей, прошедших процедуру авторизации на Сайте (далее - Авторизованных пользователей).\n" +
        "3.2. Целью обработки персональных данных является создание личного кабинета Авторизованного пользователя, персонализация данных на Сайте (настройка языка интерфейса Сайта, внешнего вида Сайта), предоставление возможности получения обратной связи от других Пользователей Сайта.\n" +
        "3.3. Персональные данные Авторизованного пользователя включают следующие сведения: id Telegram-аккаунта пользователя; username, указанный пользователем в Telegram (если указан); имя (firstname) и фамилия (lastname), указанные в Telegram (если указаны); фотография, установленная пользователем в Telegram (если установлена).\n" +
        "3.4. Пользователи сайта, авторизуясь на сайте с помощью кнопки «Войти», выражают свое согласие с настоящей Политикой конфиденциальности и тем самым дают свое согласие на обработку своих персональных данных.\n" +
        "3.5. Персональные данные Авторизованных Пользователей собираются и обрабатываются путем автоматизированной обработки персональных данных.\n" +
        "3.6. Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.\n" +
        "3.7. Обработка персональных данных Пользователей осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.\n" +
        "3.8. Персональные данные будут храниться столько времени, сколько это необходимо для достижения цели, для которой они были собраны, или для соблюдения требований законодательства и нормативных актов.\n" +
        "3.9. Авторизованный пользователь вправе потребовать удаления Персональных данных, а также отозвать согласие на обработку Персональных данных, направив соответствующее уведомление на адрес электронной почты Оператора kickrooms.info@gmail.com"
    )
    };

    List<(int, string)> getButtons()
    {
        List<(int, string)> result = new();
        for (int i = 0; i < Textu.Count(); i++)
        {
            result.Add(( i, Textu[i].Item1 ));
        }
        return result;
    }

    MudButton dawd = new() {Class=""};

    void NavigateToHeader(int headerId) => NavigationManager.NavigateTo("PrivacyPolicy/#" + headerId);
};
