<div class="px-5 py-3" style="width: 100%; background-color: black; color: white;">
    <MudGrid>

        <MudItem xs="6" md="3">
            <MudText Typo="Typo.h5">РАЗДЕЛЫ</MudText>

            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Sale</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Обувь</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Одежда</MudLink>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudText Typo="Typo.h5">РАЗДЕЛЫ</MudText>

            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Sale</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Обувь</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Одежда</MudLink>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudText Typo="Typo.h5">РАЗДЕЛЫ</MudText>

            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Sale</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Обувь</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Одежда</MudLink>
        </MudItem>

        <MudItem xs="6" md="3">
            <MudText Typo="Typo.h5">РАЗДЕЛЫ</MudText>

            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Sale</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Обувь</MudLink>
            <MudLink Typo="Typo.h6" Color="Color.Info" Class="d-block">Одежда</MudLink>
        </MudItem>
    </MudGrid>
</div>